/*********************************/
/*********************************/
/* Common */
/*********************************/
/*********************************/

/* font: 1.3em Baskerville, Trebuchet, Georgia, Arial, "Lucida Grande", garamond, palatino, verdana; */
body {
    margin: 1px;
	background-color: white;
	font: 21px Baskerville, Arial;
	text-align: justify;
	display: flex;
	justify-content: center;
	overflow-wrap:normal;
}

/* This should allow the page to resize but not fully sure yet. */
<meta name="viewport" content="width=device-width, initial-scale=1">

code {
      font-family: $Monospace;
        font-size: 0.8em;
		word-wrap: anywhere;
    }

/* font: 1.2em Roboto, Arial, "Lucida Grande", garamond, palatino, verdana; */
h1 {
  font-size: 100%;
  font: 1.2em "Open sans", Arial, Baskerville ;
}

h2, h3, h4, h5, h6 {
  font-size: 100%;
  font: 1.0em "Open sans", Arial;
  /*border-bottom: 1px dotted #aaaaaa; */
}

	
	#header {
	    margin-bottom: 15px;
}
div#header h1 {
    display: inline;
    vertical-align: middle;
    border-bottom: 1px solid #aaa;
}

/*
div#description { font-size: 95%; }
div#tags, div#page-created, div#last-modified, div#license { font-size: 80%; }
*/

/* uppercase page title, all section headers; see A/B tests */
/* h1, h2, h3, h4, h5 { text-transform: uppercase; } */

h1, h2 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
} /* this is thw space after title 1 */

div#content {
    margin-left: 200px;
    padding-left: 0;
    line-height: 130%; /* see A/B tests */
}


a {
    color: #303C3C; /* off-black */
    text-decoration: underline;
}
div#content a {
    /* how we implement grey underlining:
       http://devhints.wordpress.com/2006/10/24/css-links-with-different-color-underlines/ */
    text-decoration: none;
    border-bottom: 1px Solid grey;
}

/* Set a paragraph indent 
p { margin-top: 1.0em;
    margin-bottom: 1 }
p + p {
  text-indent: 1.5em;
  margin-top: 1 }

p.hang { text-indent: -0.44em }
*/

/*
p {
  margin: 1em 1;
} */
 /* this is the space after paragraph */

a {
  color: #000000;
}

a:hover {
  color: black;
}

a:visited {
  color: #333333;
}
/* link color 00a, visited color 202020 */

table {
  font-size: inherit;
  font: 100%;
}

/*********************************/
/*********************************/
/* Home
/*********************************/
/*********************************/
/*
ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

  ul.posts li {
    line-height: 1.75em;
  }

  ul.posts span {
    color: #aaa;
    font-family: Baskerville, Monaco, "Courier New", monospace;
    font-size: 100%;
  }
  */

/*********************************/
/*********************************/
/* Site
/*********************************/
/*********************************/

.site {
  /*font-size: 100%; */
  text-align: justify;
  width: 42em;
  max-width: 80%;
  margin: 2em auto 2em auto;
  line-height: 1.3em;
}

.title {
  color: #a00;
  font-size: 150%;
  font-weight: medium;
  margin-bottom: 1em;
}

  .site .title a {
    color: #202020;
    text-decoration: none;
  }

  .site .title a:hover {
    color: black;
  }

  .site .title a.extra {
    color: #aaa;
    text-decoration: none;
    margin-left: 1em;
  }

  .site .title a.extra:hover {
    color: black;
  }

  .site .meta {
    color: #aaa;
  }

  .site .footer {
    font-size: 80%;
    color: #666;
    border-top: 4px solid #eee;
    margin-top: 2em;
    overflow: hidden;
  }

    .site .footer .contact {
      float: left;
      margin-right: 3em;
    }

      .site .footer .contact a {
        color: #8085C1;
      }

    .site .footer .rss {
      margin-top: 1.1em;
      margin-right: -.2em;
      float: right;
    }

      .site .footer .rss img {
        border: 0;
      }

/*********************************/
/*********************************/
/* Posts
/*********************************/
/*********************************/

#post {

}

  /*  

div#TOC {
    float: left;
    width: 20%;
    background: #eee;
    margin-right: 20px; /* Force a margin big enough that bulleted items won't overlap the blue-shaded area of the ToC */
/*} */
/* div#TOC li {
    list-style-type: none;
    margin-right: 0px; padding-right: 0px;
}
div#TOC ul li ul li {
    position: relative;
    left: -15px
}
div#TOC ul { margin-left: 0px; padding-left: 0px; }
div#TOC ul ul { margin-left: 1em; padding-left: 1em; }
*/


/*  #post pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .4em;
  }
  */
/*
  #post ul,
  #post ol {
    margin-left: 1.35em;
  }
  */


/*    #post pre code {
      border: none;
    }
*/

/*
pre code {
    display: block;
    padding: 8px;
    margin-bottom: 2em;
}
*/

p.caption {
    display: none;
}

  #post img {
    max-width: 80%;
    padding: 1em 0;
  }

  /* terminal */
/*
  #post pre.terminal {
    border: 1px solid black;
    background-color: #333;
    color: white;
  }

  #post pre.terminal code {
    background-color: #333;
  }

#related {
  margin-top: 2em;
}

  #related h2 {
    margin-top: 1em;
    margin-bottom: 1em;
  }
*/
/*********************************/
/*********************************/
/* Table of contents */
/*********************************/
/*********************************/

/* "Contents header of TOC
#markdown-toc::before {
    content: "Contents";
    font-weight: bold;
}
*/

#markdown-toc ul {
    list-style: indent;
}

#markdown-toc {
    border: 2px solid #333333;
    padding: 1.5em; /* top */
    padding-left: 2.5em;
    list-style: decimal;
    display: inline-block;
    background: #eee;
}
