---
layout: default
title: Human Inborn Errors of Immunity
created: 25 Jun 2022
tags: genomics
subject: Precision medicine
---
<div class="full-width">



<h1>Human Inborn Errors of Immunity</h1>
<p> Last update: 2022-06-25 </p>

<p>
This table is a modified version of that released by the International Union of Immunological Societies (IUIS) 
Inborn Errors of Immunity Committee (IEI)
(<a href="https://iuis.org/committees/iei/">https://iuis.org</a>),
{% cite tangye2022iei %}. 
Read the paper here:
<a href="https://link.springer.com/article/10.1007/s10875-022-01289-3">doi.org/10.1007/s10875-022-01289-3</a>
and directly download their original xlsx table from Springer here:
<a href="https://static-content.springer.com/esm/art%3A10.1007%2Fs10875-022-01289-3/MediaObjects/10875_2022_1289_MOESM2_ESM.xlsx">Supplementary file2 (XLSX 93 kb)</a>.
Additional hyperlinks to external websites have been added along with cleaning and standardisation for filtering "Inheritance" terms.
Many thanks to the committee for releasing their invaluable updates every year.
</p>

<h1>Accurately report your finding</h1>
<p><a href="https://lawlessgenomics.com/topic/acgm-criteria-table-main" 
	style="padding: 0% 0% 0% 0%; margin: 0% 0% 0% 0%; 
	">&#x26A1
	ACMG standards and guidelines</a>: for the interpretation of variants.
</p>

<p><a href="https://varnomen.hgvs.org" 
	style="padding: 0% 0% 0% 0%; margin: 0% 0% 0% 0%; 
	">&#x26A1
	Use accurate HGVS variant nomenclature</a>: for precise clinical genetics.
</p>

<p><a href="https://www.genenames.org" 
	style="padding: 0% 0% 0% 0%; margin: 0% 0% 0% 0%; 
	">&#x26A1
	Use accurate HGNC gene names</a>: for precise clinical genetics.
</p>

<p><a href="https://lawlessgenomics.com/topic/evidence_finder_gene_all.html" 
	style="padding: 0% 0% 0% 0%; margin: 0% 0% 0% 0%; 
	">&#x26A1
	Find other genes</a>: outside of IUIS IEI genes.
</p>

<p><a href="https://lawlessgenomics.com/topic/evidence_builder.html" 
	style="padding: 0% 0% 0% 0%; margin: 0% 0% 0% 0%; 
	">&#x26A1
	Coming soon: summarise all diagnostic evidence sources</a>.
</p>

<h1>IUIS IEI table</h1>
{% include_relative iuis_iei_table_2022.html %}

<p>
Autosomal dominant (AD) 
autosomal recessive (AR), 
gain-of-function (GOF), 
loss of function (LOF), 
X-linked recessive (XLR).
</p>

<!-- <h1>Browse subtable list</h1> -->
<!-- <p> Not sure what gene you are searching for? Browse for the subtable matching your phenotype to help before searching on the master table.</p> -->

<!-- {% include_relative iuis_iei_sub_table_2022.html %} -->

<!-- <p> --> 
<b>Older versions</b> - The 2020 edition can be found on IUIS website:
<a href="https://iuis.org/committees/iei/">https://iuis.org</a>.
Original 2020 table download link:
<a href="https://wp-iuis.s3.eu-west-1.amazonaws.com/app/uploads/2019/12/20113228/IUIS-IEI-list-for-web-site-December-2019-003.xlsx">Updated IEI classification table (December, 2019)</a>.
</p>

{% bibliography --cited %}
</div>
