---
layout: default
title: LawlessGenomics
---
A home for topics that are relevant to human precision medicine and genomics.
Including technical examples of statistical methods, best practices, 
general reading, and pertinent details of research methods.
Focused on novel discoveries in human health 
with specialities in 
human genetic disease,
infectious disease,
rare and common disorders, 
and the interaction of host-pathogen genomics.
These challenges are addressed through our publicly-funded academic research, 
international collaboration,
and invitation-only genomic analysis.
With minimalism and privacy in mind, this site is built to be light and fast
as well as containing no ads, trackers, cookies, 
<a href="https://themarkup.org/blacklight?url=lawlessgenomics.com">&c</a>.
This site is under live development; some placeholder pages are included for testing. 

<!-- <!-1- particles.js container -1-> <div id="particles-js"></div> <!-1- stats - count particles -1-> <div class="count-particles"> <span class="js-count-particles">--</span> particles </div> <!-1- particles.js lib - https://github.com/VincentGarreau/particles.js -1-> <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script> <!-1- stats.js lib -1-> <script src="http://threejs.org/examples/js/libs/stats.min.js"></script> -->

<div id="Topics">
	<div class="subjects">
		<h1>Precision medicine</h1>
		<ul class="topic">
		{% assign sorted-topic = site.topic | where: "subject","Precision medicine" %}
		{% for topic in sorted-topic %}
		<a href="{{ topic.url }}">{{ topic.title }}</a><br />
		{% endfor %}
		</ul>
	</div>

	<div class="subjects">
		<h1>Genomics of rare disease</h1>
		<ul class="topic">
		{% assign sorted-topic = site.topic | where: "subject","Genomic analysis" %}
		{% for topic in sorted-topic %}
		<a href="{{ topic.url }}">{{ topic.title }}</a><br />
		{% endfor %}
		</ul>
	</div>


	<div class="subjects">
		<h1>Intelligence topics</h1>
		<ul class="topic">
		{% assign sorted-topic = site.topic | where: "subject","cryptography" %}
		{% for topic in sorted-topic %}
		<a href="{{ topic.url }}">{{ topic.title }}</a><br />
		{% endfor %}
		</ul>
	</div>

	<div class="subjects">
		<h1>Statistics</h1>
		<ul class="topic">
		{% assign sorted-topic = site.topic | where: "subject","statistics" %}
		{% for topic in sorted-topic %}
		<a href="{{ topic.url }}">{{ topic.title }}</a><br />
		{% endfor %}
		</ul>
	</div>

	<div class="subjects">
		<h1>Immunology</h1>
		<ul class="topic">
		{% assign sorted-topic = site.topic | where: "subject","immunology" %}
		{% for topic in sorted-topic %}
		<a href="{{ topic.url }}">{{ topic.title }}</a><br />
		{% endfor %}
		</ul>
	</div>

	<div class="subjects">
		<h1>SARS-CoV-2</h1>
		<ul class="topic">
		<a href="https://sarscov2variants.com">SARS-CoV-2 variants of concern to vaccine</a>
		</ul>
	</div>

	<div class="subjects">
		<h1>Public presentation</h1>
		<ul class="topic">
		{% assign sorted-topic = site.topic | where: "subject","meetings" %}
		{% for topic in sorted-topic %}
		<a href="{{ topic.url }}">{{ topic.title }}</a><br />
		{% endfor %}
		</ul>
	</div>

	<div class="subjects">
		<h1>Blog Posts</h1>
		<ul class="posts">
		{% for post in site.posts %}
		{% if post.path contains 'blogpost' %}
		<li><span>{{ post.date | date_to_string }}</span> <a href="{{ post.url }}">{{ post.title }}</a></li>
		{% endif %}
		{% endfor %}
		</ul>
	</div>

	<div class="subjects">
		<h1>Weeknotes</h1>
		<ul class="topic">
		<a href="/weeknotes/">List of all weeknotes</a>
		</ul>
	</div>

	<div class="subjects">
		<h1>Highlighted Media</h1>
		<ul class="posts">
			<li><span>18 Feb 2021</span> <a href="https://doi.org/10.1007/s10875-021-00980-1">Credited for a newly added immune gene in <i>Novel Inborn Errors of Immunity: an Interim Update by the IUIS Committee,</i>, 2021 <i>TET2</i> 3 patients, 2 families, AR LoF.</a>
				<a href="https://link.springer.com/content/pdf/10.1007/s10875-021-00980-1.pdf">pdf</a></li>
			<li><span>27 Aug 2020</span> <a href="https://ashpublications.org/blood/pages/blood_podcast">Podcast: Blood Journal complete TET2 deficiency by Spegarova, Lawless et al. </a></li>
			<li><span>27 Aug 2020</span> <a href="https://ashpublications.org/blood/article/136/9/1018/463418/Human-TET2-bridges-cancer-and-immunity">Featured: Human TET2 bridges cancer and immunity, Zhang and Casanova.</a></li>
			<li><span>21 Feb 2019</span> <a href="https://ashpublications.org/blood/article/133/8/773/260583/RAGs-usurp-cellular-factors-for-both-breaking-and">Featured: RAGs usurp cellular factors for both breaking and repairing. </a></li>
		</ul>
	</div>

	<div >
		<a href="/" >
		<img style="margin-bottom:-16px" 
		src="/images/brand_images/grey_tall_human_genomics_wide.png" 
		alt="Logo image" width="100%"/></a>
	</div>
